<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FantasyFlick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class=" min-h-[100dvh] w-screen  relative ">
    <div class="  absolute inset-0 -z-10 w-full h-[100dvh]">
        <video src="{{url_for('static',filename='videos/hero.mp4')}}" class="w-full h-full object-cover"  autoplay loop muted></video>
    </div>
    <div class=" z-50  h-[100dvh]  w-full ">
        <div class="  flex  h-full w-full flex-col">
            <div class="py-2 px-2 sm:px-6 sm:py-4 flex w-full justify-between items-center">
            <div >
                <h1 class=" text-[3rem] sm:text-[5rem] font-screamerBlack text-white leading-none">F.</h1>
            </div>
            <div class="flex gap-3 font-favorit font-bold mt-2 justify-center sm:justify-start max-sm:hidden ">
                    <button class="  text-white py-2 sm:py-4 px-10 rounded-full border-2 border-white cursor-pointer"><a href="{{url_for('Auth.signup')}}" >Sign Up</a></button>
                    <button class=" bg-white text-black py-2  sm:py-4 px-10 rounded-full  cursor-pointer">
                        <a href="{{url_for('Auth.login')}}">Log In</a>
                    </button>
                </div>
            </div>
        <div class="flex-1 flex  justify-center items-center sm:block  ">
            <div>
            <div class="  px-2 py-2 sm:px-6 sm:py-12 relative  ">
            <div class=" text-center sm:text-start w-full h-full ">
                <div class=" flex gap-3 sm:block  py-2 items-center justify-center"> 
                    <h1 class=" text-[4rem] sm:text-[10rem] md:text-12xl font-screamerBlack text-white leading-none">FANTASY</h1>
                    <h1 class="   text-[4rem] font-screamerBlack text-white  sm:text-[10rem] md:text-12xl  leading-none ">FLICK</h1>
                </div>
                <div class="font-favorit flex flex-col gap-3 text-white">
                <div class=" text-xl md:text-2xl">
                    <p> Your Ultimate Fantasy Sports Arena</p>
                    <p>Build Your Dream Team – Pick Real-Life Players</p>
                </div>
                <div class="flex gap-3 font-favorit font-bold mt-2 justify-center sm:justify-start sm:hidden">
                    <button class=" text-white  py-2 sm:py-4 px-10 rounded-full border-2 border-white cursor-pointer"><a href="{{url_for('Auth.signup')}}" >Sign Up</a></button>
                    <button class=" bg-white text-black py-2  sm:py-4 px-10 rounded-full  cursor-pointer">
                        <a href="{{url_for('Auth.login')}}">Log In</a>
                    </button>
                </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    

</body>
</html>