<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FantasyFlick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <script src="https://kit.fontawesome.com/91953b8a7b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="  h-screen w-screen relative lg:flex">
        <div class=" bg-[#EDFF66] border-r-2 w-full lg:w-1/2 h-full py-5 px-5 sm:py-20 sm:px-10">
            <a href="{{url_for('HomePage.index')}}"><i class="fa-regular fa-circle-left text-3xl sm:ml-6"></i></a>
            <div class=" h-full  sm:px-6 sm:py-12 flex flex-col justify-center sm:block">
                
                <h1 class=" font-screamerBlack text-7xl mt-4">Sign Up</h1>
                <form  method="post" class=" font-favorit mt-8 flex flex-col gap-3 sm:gap-6">
                    {{signup_form.hidden_tag()}}
                    <div>
                        <p class=" text-2xl">{{signup_form.username.label}}</p>
                        <div class=" border-2 rounded-md mt-2">
                            {{signup_form.username(class="w-full px-3 py-4 sm:px-12 focus:outline-none text-xl",placeholder="Enter your Username")}}
                        </div>
                    </div>
                    <div>
                        <p class=" text-2xl">{{signup_form.email.label}}</p>
                        <div class="  border-2 rounded-md mt-2">
                            {{signup_form.email(class="w-full px-3 py-4 sm:px-12 focus:outline-none text-xl",placeholder="Enter your Email Id")}}
                        </div>
                    </div>
                    <div>
                        <p class=" text-2xl">{{signup_form.password.label}}</p>
                        <div class="  border-2 rounded-md mt-2">
                            {{signup_form.password(class="w-full px-3 py-4 sm:px-12 focus:outline-none text-xl",placeholder="Enter your Password")}}
                        </div>
                    </div>
                    <div>
                        {% with messages = get_flashed_messages()  %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class=" font-bold text-red-500">{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div>
                        <button class=" cursor-pointer w-full text-white bg-black py-4 px-12 text-2xl">{{signup_form.signup(class=" cursor-pointer")}}</button>
                    </div>
                    <div class=" w-full text-center">
                        <a href="{{url_for('Auth.login')}}" class=" hover:underline">Already have an account? Log In</a>
                    </div>
                </form>
            </div>
        </div>
        <div class=" w-1/2 h-full relative">
            <div class="  absolute inset-0  w-full h-full">
                <video src="{{url_for('static',filename='videos/hero-3.mp4')}}" class="w-full h-full object-cover"  autoplay loop muted></video>
            </div>
        </div>
    </div>
</body>
</html>